h1 {
  color: DarkBlue;
  font-family: verdana;
  font-size: 250%;
  text-align: center;
}
h3 {
  color: DarkBlue;
  font-family: arial;
  font-size: 180%;
}
h4, ul {
  color: DarkBlue;
  font-family: helvetica;
  font-size: 120%;
}
p  {
  color: DarkKhaki;
  font-family: courier;
  font-size: 160%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.FancyTable {
  border: 1px solid black;
  font-family: arial;
  color: DarkBlue;
  vertical-align: top;
}

HeaderImage {
  width: 250px;
  height: 175px;
}

body {
    background: LightSlateGray;
    margin: 100px;
}