h1 {
  color: DarkBlue;
  font-family: verdana;
  font-size: 250%;
}
h3 {
  color: DarkBlue;
  font-family: arial;
  font-size: 180%;
}
p  {
  color: DarkKhaki;
  font-family: courier;
  font-size: 160%;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    background: LightSlateGray;
}