h1 {
  color: DarkBlue;
  font-family: verdana;
  font-size: 250%;
  text-align: center;
}
h3 {
  color: DarkBlue;
  font-family: arial;
  font-size: 180%;
}
h4, ul {
  color: DarkBlue;
  font-family: helvetica;
  font-size: 120%;
}
p  {
  color: DarkKhaki;
  font-family: courier;
  font-size: 160%;
}

code {
  color: DarkBlue;
  font-family: Andale, monospace;
  font-size: 160%
}

input {
  color: DarkBlue;
  font-family: courier;
  font-size: 80%;
  background-color: DarkKhaki;
  border: 1px solid black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.FancyTable {
  border: 1px solid black;
  font-family: arial;
  color: DarkBlue;
  vertical-align: top;
}

.button {
  background-color: DarkKhaki;
  border: 2px solid DarkBlue;
  color: DarkBlue;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: helvetica;
  font-size: 16px;
}

HeaderImage {
  width: 250px;
  height: 175px;
}

body {
    background: LightSlateGray;
    margin: 100px;
}

footer {
    position: fixed;
    bottom: 0;
}