{% extends "layout2.html" %}
{% block title %}Gigs{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Gigs</h1>
<p>Get a list of all gigs for the provided year by appending year on the URL bar. For example:</p>
<code>http://&lt;Your Server&gt;/gigs/2016</code>

<h1>Years with gig data</h1>
<p>Each year with at least one gig in the database</p>

<table class="FancyTable" cellpadding="10px">
  <tr>
    <th class="FancyTable">Year</th>
  </tr>
  {% for year in unique_years %}
  <tr>
    <td class="FancyTable">
      <form method="get" action='/gigs/{{ year }}'>
        <button id="gigs{{ year }}Button", class="button" >{{ year }}</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}