{% extends "layout2.html" %}
{% block title %}Gigs{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Gigs</h1>
<p>Each year with at least one gig in the database</p>

<table class="FancyTable" cellpadding="10px">
  <tr>
    <th class="FancyTable">Year</th>
    <th class="FancyTable">List Gigs</th>
    <th class="FancyTable">Pay and Mileage Summary</th>
    <th class="FancyTable">Verbose Summary</th>
  </tr>
  {% for year in unique_years %}
  <tr>
    <td class="FancyTable"><br><br>{{ year }}</td>
    <td class="FancyTable">
      <form method="get" action='/gigs/{{ year }}'>
        <button id="gigs{{ year }}Button", class="button" >Gigs in {{ year }}</button>
      </form>
    </td>
    <td class="FancyTable">
      <form method="get" action='/summary/{{ year }}'>
        <button id="summary{{ year }}Button", class="button" >Summary for {{ year }}</button>
      </form>
    </td>
    <td class="FancyTable">
      <form method="get" action='/summary/{{ year }}/verbose'>
        <button id="summaryVerbose{{ year }}Button", class="button" >Verbose for {{ year }}</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}