{% extends "layout2.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Home</h1>
<h2>Gigs</h2>
    <table class="FancyTable" cellpadding="10px">
        <tr>
            <th class="FancyTable">Year</th>
            <th class="FancyTable">List Gigs</th>
            <th class="FancyTable">Pay and Mileage Summary</th>
            <th class="FancyTable">Verbose Summary</th>
        </tr>
        {% for year in unique_years %}
        <tr>
            <td class="FancyTable"><br><br>{{ year }}</td>
            <td class="FancyTable">
                <form method="get" action='/gigs/{{ year }}'>
                    <button id="gigs{{ year }}Button", class="button" >Gigs in {{ year }}</button>
                </form>
            </td>
            <td class="FancyTable">
                <form method="get" action='/summary/{{ year }}'>
                    <button id="summary{{ year }}Button", class="button" >Summary for {{ year }}</button>
                </form>
            </td>
            <td class="FancyTable">
                <form method="get" action='/summary/{{ year }}/verbose'>
                    <button id="summaryVerbose{{ year }}Button", class="button" >Verbose for {{ year }}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="get" action='/gigs/submit'>
        <button id="gigSubmitForm", class="button" >Input New Gig!</button>
    </form>

<h2>Venue Management</h2>
    <form method="get" action='/venue-list'>
        <button id="venueListButton", class="button" >List Current Venues</button>
    </form>
    <form method="get" action='/venue/add_venue'>
        <button id="newVenueButton", class="button" >Add New Venue</button>
    </form>

{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
