{% extends "layout2.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Home</h1>
<h2>Gigs</h2>
    <table class="FancyTable" cellpadding="10px">
        <tr>
            <th class="FancyTable">Year</th>
            <th class="FancyTable">Number of Gigs</th>
            <th class="FancyTable">Total Mileage</th>
            <th class="FancyTable">Income</th>
            <th class="FancyTable">Gig List</th>
            <th class="FancyTable">Verbose Summary</th>
        </tr>
        {% for year in unique_years %}
        <tr>
            <td class="FancyTable"><br><br>{{ year.0 }}</td>
            <td class="FancyTable"><br><br>{{ year.1 }}</td>
            <td class="FancyTable"><br><br>{{ "%0.1f"|format(year.2) }}</td>
            <td class="FancyTable"><br><br>${{ "%0.2f"|format(year.3) }}</td>
            <td class="FancyTable">
                <form method="get" action='/gigs/{{ year.0 }}'>
                    <button id="gigs{{ year }}Button", class="button" >Gigs in {{ year.0 }}</button>
                </form>
            </td>
            <td class="FancyTable">
                <form method="get" action='/summary/{{ year.0 }}/verbose'>
                    <button id="summaryVerbose{{ year }}Button", class="button" >Verbose information for {{ year.0 }}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="get" action='/gigs/submit'>
        <button id="gigSubmitForm", class="button" >Input New Gig!</button>
    </form>

<h2>Venue Management</h2>
    <form method="get" action='/venue-list'>
        <button id="venueListButton", class="button" >List Current Venues</button>
    </form>
    <form method="get" action='/venue/add_venue'>
        <button id="newVenueButton", class="button" >Add New Venue</button>
    </form>

{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
