{% extends "layout2.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Index</h1>
<p>Try appending routes to the host in the URL like:</p>
<ul>
    <li>'/gigs'</li>
    <li>'/gigs/&lt;gig year&gt;'</li>
    <li>'/summary/&lt;gig year&gt;'</li>
    <li>'/summary/&lt;gig year&gt;/verbose'</li>
</ul>

<h2>Gig Summaries: income and mileage</h2>
    <p>For 'gig year', try 2016, 2018, 2019, etc. Here are some links to years that have data:</p>
    <form method="get" action='/summary/2019'>
        <button id="summary2019Button", class="button" >Summary of 2019 gigs</button>
    </form>
    <form method="get" action='/gigs/2019'>
        <button id="gigs2019Button", class="button" >Show 2019 gigs</button>
    </form>
    <form method="get" action='/gigs/submit'>
        <button id="gigSubmitForm", class="button" >Input New Gig!</button>
    </form>
    <form method="get" action='/gigs'>
        <button id="gigsListButton", class="button" >Gigs</button>
    </form>

<h2>Venue Management</h2>
    <form method="get" action='/venue-list'>
        <button id="venueListButton", class="button" >List Current Venues</button>
    </form>
    <form method="get" action='/venue/add_venue'>
        <button id="newVenueButton", class="button" >Add New Venue</button>
    </form>

    <form method="get" action='/test/year-lister'>
        <button id="testPage", class="button" >TEST Year Lister</button>
    </form>


{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
