<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <img src="{{ url_for('static', filename='gig_calc_header.png') }}" alt="GigComp" class="center">
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
  <footer>
    <div id="footer">
      {% block footer %}
      <form method="get" action='/'>
        <button id="home", class="button" >Home Page</button>
      </form>
      YOLO, JK, BRB, LOL - Jesus
      {% endblock %}
    </div>
  </footer>
</html>