{% extends "layout2.html" %}
{% block title %}Submit Gig{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  {% if error_message %}
    <h2><b>{{ error_message }}</b></h2>
    <p><hr></p>
  {% endif %}

  <form action = "/gigs/new_gig_data" method = "POST">
    <p>Date of gig <input type = "date" name = "date" /></p>
    <p>Venue <select name = "venue" >
        {% for v in venues_dict %}
          <OPTION value="{{v.venue}}">{{ v.venue }}</OPTION>
        {% endfor %}
    </select>
    </p>
    <p>Band <input type = "text" name = "band" /></p>
    <p>Pay <input type ="text" name = "pay" /></p>
    <p>Trip Origin <select name = "trip_origin">
      <OPTION value="2517 commonwealth">2517 Commonwealth Dr</OPTION>
      <OPTION value="741 dry bridge">741 Dry Bridge Rd</OPTION>
    </select>
    </p>
    <p>Comment <input type ="text" name = "comment" /></p>
    <p><input type = "submit" value = "Submit" class = "button" /></p>
  </form>
<h2>If your venue does not appear in the dropdown list, add it here:</h2>
<form method="get" action='/venue/add_venue'>
  <button id="newVenueButton", class="button" >Add New Venue</button>
</form>
{% endblock %}