{% extends "layout2.html" %}
{% block title %}Gig Summary{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>*** Gigs from {{ year }} ***</h1>
<p>-------------------------------------------------</p>
<h3>For {{ num_gigs }} gigs: {{ "%0.1f"|format(miles) }} miles; ${{ "%0.2f"|format(pay) }} pay</h3>
<p>-------------------------------------------------</p>

<h2>For {{ num_gigs }} gigs in {{ year }}</h2>
<table class="FancyTable" cellpadding="10px">
    <tr>
        <th class="FancyTable">Total Miles</th>
        <th class="FancyTable">Total Income</th>
    </tr>
    <tr>
        <td class="FancyTable"><b></b><em>{{ "%0.1f"|format(miles) }}</em></b></td>
        <td class="FancyTable"><b></b><em>${{ "%0.2f"|format(pay) }}</em></b></td>
    </tr>
</table>

{% if verbose is sameas false %}
  <form method="get" action='{{ self_verbose_url }}'>
      <button id="verboseButton", class="button" >Verbose Summary</button>
  </form>
{% endif %}

<form method="get" action='{{ gigs_url }}'>
        <button id="gigsButton", class="button" >Show Gigs</button>
</form>

{% if unique_band_list %}
<table class="FancyTable" cellpadding="30px">
  <tr>
      <td width="50%" class="FancyTable">
            <h4>Unique set of venues from {{ year }}, with total round-trip miles to that venue</h4>
            <ul>
                {% for k in miles_per_venue_list %}
                <li>{{k}}</li>
                {% endfor %}
            </ul>
      </td>

      {% if pay_per_band %}
      <td width="50%" class="FancyTable">
          <h4>Total pay from each Band in {{ year }}</h4>
          <table class="FancyTable" cellpadding="10px">
              <tr>
                  <th class="FancyTable">Band</th>
                  <th class="FancyTable">Total Pay for {{ year }}</th>
              </tr>

              {% for band in pay_per_band %}
              <tr>
                  <td class="FancyTable" cellpadding="10px">{{ band.0 }}</td>
                  <td class="FancyTable" cellpadding="10px">${{ "%0.2f"|format(band.1) }}</td>
              </tr>
              {% endfor %}
          </table>
      </td>
      {% endif %}
  </tr>
</table>
{% endif %}

{% if unmatched_venue_list %}
    <h4>Unmatched venues; mileage not included in mileage total.</h4>
    <ul>
        {% for n in unmatched_venue_list %}
        <li>{{n}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
