{% extends "layout2.html" %}
{% block title %}Detailed List of Venues{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<H3></H3>
<table class="FancyTable" cellpadding="10px">
    <tr>
        <th class="FancyTable">Venue</th>
        <th class="FancyTable">R/T 2517 Commonwealth</th>
        <th class="FancyTable">R/T 741 Dry Bridge</th>
        <th class="FancyTable">City</th>
    </tr>
    {% for venue in venue_dict %}
        <tr>
            <td class="FancyTable">{{ venue.venue }}</td>
            <td class="FancyTable">{{ venue.rt_miles_from_commonwealth }}</td>
            <td class="FancyTable">{{ venue.rt_miles_from_dry_bridge }}</td>
            <td class="FancyTable">{{ venue.city }}</td>
        </tr>
    {% endfor %}
</table>
<h2>If your venue does not appear in list above, add it here:</h2>
<form method="get" action='/venue/add_venue'>
    <button id="newVenueButton", class="button" >Add New Venue</button>
</form>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
